/**----------------------------------------
*
*  MEDIA QUERY: Max Width 360
*
* *----------------------------------------*/
@media (max-width: 360px){
/* Styles */
	/**----------------
	*  HOMEPAGE STYLES
	* *----------------*/
	/* smallest mobile sizes will be in here */
    .footer-left, .footer-right{font-size:1rem; width:95%;}
    .footer-left a::after{content: "";}
    .footer-left a, .footer-right a{
        float: left;
    }

    .footer-right > li > a > img{ width: 2em; height: 2em; }
}

/**----------------------------------------
*
*  MEDIA QUERY: Max Width 667 - Min 359
*
* *----------------------------------------*/
@media (max-width: 667px) and (min-width: 359px){

	/**----------------
	*  HOMEPAGE STYLES
	* *----------------*/
	/* 667-359 */
    .collapse.navbar-collapse{
        display:block;
        text-align: center;
        text-transform: uppercase;
    }
    #navbar-override a{
        font-size: 1.7rem;
        letter-spacing: 0.25em;
    }
    .static-content{
        /* margin-top: 75%; */
    }
        header.row{
        position: relative;
    }
    .footer-left, .footer-right{font-size:1rem; width:95%;}
    .static-content.general-coding img{
        width: 80%;
    }
    .footer-left > li > a::after{content:"";}
    .footer-right > li {float:left;}
    .footer-right > li > a > img{ padding:1%; width: 2em; height: 2em; }
}

/**----------------------------------------
*
*  MEDIA QUERY: Max Width 1024 - Min 666
*
* *----------------------------------------*/
@media (max-width: 1024px) and (min-width: 666px){

	/* Screen sizes between 1025 and 666 */
    .footer-left, .footer-right{width:95%;}
    header.row{
        position: relative;
    }
    .collapse.navbar-collapse{
        display:block;
        text-align: center;
        text-transform: uppercase;
    }
    #navbar-override a{
        font-size: 1.7rem;
        letter-spacing: 0.25em;
        position: initial;
    }
    #navbar-dropdown-override{
        text-align: center;
    }
    .static-content{
        /* margin-top: 75%; */
    }
    .navbar-nav > li{
        width: 100%;
    }
    .navbar-nav > ul > .dropdown {
        width: 100%;}
     ul.nav.navbar-nav {
        width: 100%;
    }
}


/**----------------------------------------
*
*  MEDIA QUERY: Max Width 1280 - Min 1024
*
* *----------------------------------------*/
@media (max-width: 1366px) and (min-width: 1023px){

/**----------------
*  HOMEPAGE STYLES
* *----------------*/
/* Between 1024 and 1280 */

/*=== Container Styles ===*/
.static-content{
    padding: 0;
}
.static-content.general-coding{
	width: 100%;
}
.static-content.general-coding img{
    width: 80%;
}
.footer-container{
    /* height: auto; */
}
