/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

html{
    /* background-color: #083450; */
    background-color: white;
}


.container{
    min-width: 100%;
    min-height: 100%;
    /* background-color: #083450; very light grey is : #cccccc; */
    background-color: white; /* very light grey for main background */
}

header.row{
    min-width: 100%;
    position: fixed;
    z-index: 3;
}

.title-container{
    background-color: #666666;
    width: 100%;
    padding-top: 10px;
    margin-top: 60px;
    height: auto;
}

div#main.row{
    margin-bottom: 60px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default{
    background-color: white;
    color: white;
    border: solid #083450 1px;
}
#navbar-override{
    /* This controls stlyles that affects the entire background/block of the navigation bar from Bootstrap and overrides it where noted */
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
#navbar-override a{
    color: #e6e6e6;
    font-size: 14px;
}
.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    background-color: #f2f2f2;
    color: #000000 !important;
}

#navbar-dropdown-override{
    background-color: #f2f2f2; /* Adds a near-white background to the dropdown itself (not the parent link causing the dropdown) */
    color: #000000 !important;
}

#navbar-dropdown-override a{
    color: #000000;
}

#navbar-dropdown-override a:hover{
    background-color: #80bfff; /* medium blue background when navbar items are hovered over */
}

/**
 * #code-content overrides any Bootstrap styles for any of the Code Samples pages (also has the static-content class applied) 
 */
#code-content h1, h2, h3, h4{
    color: white;
}

#code-content a{
    color: white;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

#code-content a:hover{
    color: #770000;
}


/**
 * ANY STYLES REGARDING THE FOOTER ARE HERE
 */
#footer{
    clear: both;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-stretch: extra-expanded;
    background-color: black;
    color: white;
    margin-bottom: 0;
    margin-top: 40px;
    position: relative;
    padding-bottom: 80px; 
    padding-top: 0px;
    height: 70px;
}

.footer-left{
    list-style-type: none;
    font-size: 16px;
    width: 45%;
    float:left;
}
.footer-right{
    text-align: right;
    list-style-type: none;
    font-size: 16px;
    float: left;
    width: 45%;
}
.footer-right a {
    float: right;
    padding: 5px;
}
.footer-right a, .footer-left a{
    color: #337ab7 !important;
    font-size: 20px !important;
}
.footer-right a:hover, .footer-left a:hover{
    background-color: #337ab7; /* Adds a near-white background to the dropdown itself (not the parent link causing the dropdown) */
    border: 1px #337ab7 solid;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    color: #fff !important;
}


/**
 * STANDARD PAGES: TEMPLATED STYLES
 */
.page-header{
    /* color: #337ab7; */
    color: black;
    text-shadow: 4px 2px 6px #404040;
    font-size: 4em !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}
.static-content{
    margin: auto;
    /* background-color: rgba(192,192,192,.8); */
    background-color: rgba(255,255,255, .25);
    padding-left: 10px;
    border: 1px solid rgba(128,128,128,.2);
    border-radius: 5px;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 80px;
    color: black;
}
.static-content p, h1, h3, h4, h5{
    margin-left: 20px;
}
.static-content a{
    color: #A7BAAF;
}
.static-content a:hover{
    color: white;
}
.static-content ul{
    list-style: none;
}
#content{
    min-width:100%;
}

.page-title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    color: black;
    margin-left: 15px;
    padding-bottom: 5px;
}

/**
 * Setting up these styles to go into the auto-generated image gallery by Javascript
 * Direction for this using Javascript/AJAX is at https://davidwalsh.name/generate-photo-gallery
 * However, the PHP code may need some planning in order to integrate it properly into Laravel (and in an auto-generation Controller?)
 * There is an alternative example using Javascript/AJAX entirely at: http://www.codechewing.com/library/automatic-reloading-image-gallery-with-ajax-jquery/
 */
.clear { clear:both; }
.photo-link {padding:5px; margin:5px; border:1px solid #ccc; display:block; 
        width:200px; float: left;}
.photo-link:hover {border-color: #999;}
/* end of image gallery styles */

/**
 * ANY STYLES DESIGNED EXCLUSIVELY FOR THE HOME PAGE ARE HERE
 */
.landing-image {
    padding-top: 100px;
    float: left;
}

#right-home{
    /*right-home border*/
   /* border: 2px solid rgba(128,128,128,.2);
    border-radius: 5px; */
    /* background-color: rgba(128,128,128,.2); */
    float: left;
    margin-top: 80px;
    margin-left: 40px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    height: 500px;
    display:inline;
}

#right-home h1{
    font-size: 22px;
    margin-right: 10px;
}

#right-home p{
    padding-top: 10px;
    font-size: 18px;
    margin-right: 10px;
}
#right-home img{
    margin-bottom: 20px;
}
#social-corner{
    margin-bottom: 120px;
    height: 90%;
    clear:both;
    float:right;
}


/* GALLERY PAGE STYLES */
#gallery-thumbnails{
    display: inline;
    margin: auto;
    min-height: 100%;

}

#gallery-thumbnails img{
    padding: 10px;
}

.photo-list ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    list-style: none;
}

.photo-list li{
    float:left;
}

.alert-box h2{
    top-margin: 200px;
    color: green;

}

.secure h3{
    top-margin: 150px;
}

/**
 * THIS IS BEING USED ON UPLOAD.BLADE.PHP WHICH IS THE OLD UPLOAD FORM AND WILL LIKELY BE REMOVED
 */
.secure h3{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    background-color: #666666;
    width: 110%;
    padding-top: 10px;
    margin-top: -20px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: white;
}

.upload-form-container button{
    min-width: 200px;
    text-transform: uppercase;
}

.control-group{
    margin-top: 40px;
    margin-bottom: 40px;
}

.send-btn{
    margin-left: 15px;
}

.controls input{
    margin-left: 15px;
    border: 2px solid rgba(128,128,128,.2);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
/* END OF STYLES FOR UPLOAD.BLADE.PHP */


/* DO NOT remove or modify this style as it separates the photos from the bottom of the page
** allowing either content to be below the pictures if needed or grant extra space/padding below galleries
*/
#gallery-clear-bottom{
    display: block !important;
    clear: both;
}
/**
 * To be used for ALL outgoing/external links
 */
.outgoingLink{
     color: #337ab7 !important;
     font-size: 13px !important;
}
.outgoingLink:hover{
    background-color: #337ab7;
    color: white !important;
    padding: 2px 2px 2px 2px;
}
/**
 * To be used for ALL internal links
 */
.internalLink{
    font-size: 26px;
    font-weight: bold;
    color: blue !important;
    padding: 4px;
}
.internalLink:hover{
    color: white !important;
    background-color: #337ab7;
}