


/* The following are footer styles */
#footer ul{
    text-align: center;
    list-style: none;
    width: 100%;
    }
#footer li{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    width: 20%;
    }
    #footer a{
        color: black;
        float: left;
	}
    #footer{
        background-color: black;
        width: 100%;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0px;
        position: relative;
        padding: 3px 3px 3px 3px;
    }